body {
  margin: 0;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

#inicio {
  background-image: url(./images/pantalla_inicio.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1024px;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start-btn {
  background-color: rgb(221, 56, 56);
  color: white;
  text-align: center;
  font-size: 23px;
  border-radius: 20px;
  font-family: "VT323", monospace;
  padding-bottom: 5px;
  margin-bottom: 33%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  width: 60%;
}

#game-rules {
  background-color: rgb(197, 119, 132, 0.7);
  border: 5px solid rgb(221, 56, 56);
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 300px;
  padding: 40px;
  align-items: center;
}

#game-box {
  background-color: rgb(192, 253, 255);
  width: 90%;
  height: 800px;

  position: relative;
  overflow: hidden;
  user-select: none;

  background-image: url(./images/fondo_juego.png);
  background-position: center;
  background-size: cover;
}

#game-box * {
  pointer-events: none; /* previene que todos los elementos del game-box sean arrastrados al clickar sobre ellos */
}

#start-screen {
  background-color: rgb(134, 179, 208);
  color: white;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
#game-screen,
#game-over-screen {
  display: none;
}

#game-over-screen {
  background-image: url(./images/pantalla_inicio.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1024px;
  aspect-ratio: 1 / 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

#final {
  background-color: rgb(118, 170, 216, 0.8);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#re-start {
  background-color: rgb(221, 56, 56);
  color: white;
  text-align: center;
  font-size: 23px;
  margin-top: 50px;
  margin-bottom: 70px;
  border-radius: 10px;
  font-family: "VT323", monospace;
  padding-bottom: 5px;
}

#game-screen span {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
