body {
  margin: 0;
  background-color: whitesmoke;
}

#start-btn {
  background-color: rgb(221, 56, 56);
  color: white;
  text-align: center;
  font-size: 23px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  font-family: "VT323", monospace;
  padding-bottom: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

#game-rules {
  background-color: rgb(197, 119, 132);
  border: 5px solid rgb(221, 56, 56);
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 300px;
  padding: 40px;
  align-items: center;
}

#game-box {
  background-color: rgb(192, 253, 255);
  width: 90%;
  height: 800px;

  position: relative; /* permite posicionar los elementos de forma absoluta dentro del game-box */
  overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
  user-select: none; /* previene que los elementos del game-box sean resaltados al hacer click */

  background-image: url(./images/Valley2.png);
  background-position: center;
  background-size: cover;
}

#game-box * {
  pointer-events: none; /* previene que todos los elementos del game-box sean arrastrados al clickar sobre ellos */
}

h1 {
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
}

#start-screen {
  background-color: rgb(194, 123, 123);
  color: white;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  background-image: url(./images/fondo.png);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 50px;
  padding: 100px;
}

#game-screen, #game-over-screen {
  display: none;
}

#game-over-screen {
  background-color: rgb(194, 123, 123);
  color: white;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  align-items: center;
  background-image: url(./images/fondo.png);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 100px;
  padding: 200px;
  height: 400px;
}

#re-start {
  background-color: rgb(221, 56, 56);
  color: white;
  text-align: center;
  font-size: 23px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  font-family: "VT323", monospace;
  padding-bottom: 5px;
}

#game-screen span{
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
